*{
    margin: 0;
    padding: 0;
}body{
    background-color:skyblue;
    font-size: 15px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    right: 5px;
    padding: 10px;
}
.links{
    text-decoration: none;
    cursor: pointer;
}
#name{
    color:black;
    font-size: 25px;
    padding-right: 500px;
}
.home{
    display: flex;
    background-color: rgb(242, 255, 127);
    height: 70px;
    font-size: 20px;
}
.HEADER{
    font-size: 50px;
    background-color:black;
    color: white;
    padding-top: 55px;
    margin-bottom: 10px;
}    
#profilepic{
    height: 180px;
    width: 150px;
    margin: 10px 10px 0px 10px;
    border-radius: 80px;

}
#about{
    display: flex;
    align-items: center;
}
#work{
    background-color:mediumspringgreen;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
hr{
    width: 400px;
}
.project{
    background-color: white;
    color: black;
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}
#work p hr{
    margin-bottom: 10px;
}
#work div{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    width: 100%;
}
li{
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    padding: 3px;
}
progress[value]{
    height: 20px;
    width: 350px;
    -webkit-appearance: none;

}
#resume{
    padding:5px 0px 5px 0px;
    display: flex;
    text-align: center;

}
.contact {

}
.input{
    
}